{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block style %}
    {{ block.super }}

    <style>
    #mint-nft-form label:not(:first-of-type) {
        margin-top: 1.2rem;
    }

    .errorlist li {
      color: red;
      font-size: 0.875rem;
    }

    .errorlist.nonfield {
      order: 1;
      margin-top: 0.5rem;
    }

    #id_metadata {
        font-size: 0.75rem;
        color: gray;
        font-family: monospace;
    }

    #id_destination_address {
        font-size: 0.875rem;
    }

    .card-container {
      position: relative;
    }

    .card, .card-front, .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s ease;
    }

    .card-front, .card-back {
      backface-visibility: hidden;
    }

    .card-back {
      transform: rotateY(180deg);
    }
    </style>
{% endblock %}


{% block header_content %}
  <h1 class="text-3xl text-gray-900 font-semibold tracking-wide uppercase">
    {{ asset.name }}
  </h1>
{% endblock %}


{% block content %}
  <main>
    {% if asset.minting_transaction %}
      Asset + transaction view
    {% else %}
      {% include 'core/include/mint_nft_view.html' %}
    {% endif %}
  </main>
{% endblock %}

{% block body_scripts %}
  {{ block.super }}

  <script>
    var assetMetadata = JSON.parse('{{ asset.metadata_json|safe }}');
  </script>
  <script src="{% static 'js/asset_detail.js' %}"></script>
{% endblock %}