{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block style %}
    {{ block.super }}

    <style>
    #mint-nft-form label:not(:first-of-type) {
        margin-top: 1.2rem;
    }

    .errorlist li {
      color: red;
      font-size: 0.875rem;
    }

    .errorlist.nonfield {
      order: 1;
      margin-top: 0.5rem;
    }

    #id_metadata {
        font-size: 0.75rem;
        color: gray;
        font-family: monospace;
    }

    #id_destination_address {
        font-size: 0.875rem;
    }

    .card-container {
      position: relative;
    }

    .card, .card-front, .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s ease;
    }

    .card-front, .card-back {
      backface-visibility: hidden;
    }

    .card-back {
      transform: rotateY(180deg);
    }
    </style>
{% endblock %}


{% block header_content %}
  <h1 class="text-3xl text-gray-900 font-semibold tracking-wide uppercase">
    {{ asset.name }}
  </h1>
{% endblock %}


{% block content %}
  <main class="mt-6 flex flex-col md:flex-row">
    <div class="flex-1 card-container">
      <div class="card">
        <div class="card-front">
          <img
            alt="{{ asset.name }}"
            class="rounded-md shadow"
            src="{{ asset.image.url }}"
          >
        </div>
        <div class="card-back">
          <div class="bg-gray-50 p-4 rounded-md shadow overflow-hidden">
            <h2 class="text-2xl mb-4 font-semibold">
              Asset Metadata
            </h2>
            <pre class="asset-metadata text-sm"></pre>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-8 md:w-1/3 md:ml-6 md:mt-0">
      <div class="rounded-md bg-gray-100 p-4">
        {% if asset.minting_transaction %}
        {% else %}
          {% include 'core/include/mint_nft_form.html' %}
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}

{% block body_scripts %}
  {{ block.super }}

  <script>
    var assetMetadata = JSON.parse('{{ asset.metadata_json|safe }}');
  </script>
  <script src="{% static 'js/asset_detail.js' %}"></script>
{% endblock %}