{% extends 'base.html' %}
{% load static %}

{% block header_content %}
  <h1 class="text-3xl text-gray-900 font-semibold tracking-wide uppercase mb-2">
    Transaction Details
  </h1>
  <a
    class="text-sm break-all hover:underline"
    href="https://explorer.cardano-testnet.iohkdev.io/en/transaction?id={{ transaction.tx_id }}"
    target="_blank"
    rel="noopener"
  >
    <i class="fas fa-link"></i> {{ transaction.tx_id }}
  </a>

{% endblock %}

{% block content %}
  <div class="py-6 text-xs break-all">
    <pre>{{ transaction.tx_info }}</pre>
  </div>
{% endblock %}