{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block style %}
    {{ block.super }}

    <style>
    #transfer-ada-form label:not(:first-of-type) {
        margin-top: 1.2rem;
    }

    .errorlist li {
      color: red;
      font-size: 0.875rem;
    }

    .errorlist.nonfield {
      order: 1;
      margin-top: 0.5rem;
    }

    #id_address {
        font-size: 0.875rem;
    }

    .utxo-cell {
      border-top: 1px solid rgb(194, 194, 194);
      font-size: 0.825rem;
      padding: 0.5rem;
      vertical-align: top;
    }
    </style>
{% endblock %}

{% block header_content %}
<div class="flex items-center">
  <i class="fas fa-wallet text-8xl text-green-700 mr-4"></i>

  <div class="flex-grow">
    <h1 class="text-3xl text-gray-900 font-semibold tracking-wide">
      {{ wallet.name }}
    </h1>

    <p class="text-base text-gray-900">
      ₳ {{ wallet.lovelace_balance|toada|floatformat:6 }}
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
  <main>
    <div class="flex flex-col lg:flex-row">
      <div class="flex-grow mt-4">
        <table class="utxo-table w-full">
          <thead>
            <tr>
              <th class="text-left p-2">Tx Hash</th>
              <th class="p-2 w-14">Tx Ix</th>
              <th class="p-2 w-28">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for utxo in wallet.lovelace_utxos %}
              <tr>
                <td class="utxo-cell">
                  <a
                    class="break-all font-mono hover:underline"
                    href="https://explorer.cardano-testnet.iohkdev.io/en/transaction?id={{ utxo.TxHash }}"
                    target="_blank"
                    rel="noopener"
                  >
                    {{ utxo.TxHash }}
                  </a>
                </td>
                <td class="utxo-cell text-center">
                  {{ utxo.TxIx }}
                </td>
                <td class="utxo-cell text-center">
                  {{ utxo.Tokens|token_list|safe }}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td
                  class="text-center bg-gray-50 rounded-md p-2"
                  colspan="3"
                >
                  <i class="fas fa-info-circle mr-2"></i> No ADA UTxOs
                </td>
              </tr>
            {% endfor %}
          </tbody>

          <tbody>
            <tr>
              <td colspan="3" class="py-8">
                <hr class="border-2 border-green-700" />
              </td>
            </tr>
          </tbody>
          <tbody>
          {% for utxo in wallet.token_utxos %}
            <tr>
              <td class="utxo-cell">
                <a
                  class="break-all font-mono text-left hover:underline"
                  href="https://explorer.cardano-testnet.iohkdev.io/en/transaction?id={{ utxo.TxHash }}"
                  target="_blank"
                  rel="noopener"
                >
                  {{ utxo.TxHash }}
                </a>
              </td>
              <td class="utxo-cell text-center">
                {{ utxo.TxIx }}
              </td>
              <td class="utxo-cell text-center">
                {{ utxo.Tokens|token_list|safe }}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td
                class="text-center bg-gray-50 rounded-md p-2"
                colspan="3"
              >
                <i class="fas fa-info-circle mr-2"></i> No Token UTxOs
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div
        class="
        rounded-md bg-gray-100 my-8 p-4
        md:w-72 md:ml-3 md:my-4
      ">
        {% include 'core/include/transfer_ada_form.html' %}
      </div>
    </div>
  </main>
{% endblock %}

{% block body_scripts %}
  {{ block.super }}

  <script>
    var walletId = "{{ wallet.id }}";
  </script>

  <script src="{% static 'js/wallet_detail.js' %}"></script>
{% endblock %}