{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example NFT Minting</title>

  {% block style %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@next/dist/base.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.min.css" %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@next/dist/components.min.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@next/dist/utilities.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  {% endblock %}

  {% block head_scripts %}
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {% endblock head_scripts %}
</head>

<body class="pb-12">
<div class="bg-green-700">
  <div class="max-w-5xl mx-auto px-2 flex">
    <nav class="flex">

      <a
        href="{% url 'wallet.list' %}"
        class="inline-block px-4 py-3 text-white font-medium hover:underline"
      >
        <i class="fas fa-wallet text-xl mr-1"></i> Wallets
      </a>

      <a
        href="#"
        class="inline-block px-4 py-3 text-white font-medium hover:underline"
      >
        <i class="far fa-file-image text-xl mr-1"></i> Assets
      </a>
    </nav>
  </div>
</div>

{% block body %}


{% endblock body %}

<footer class="fixed left-0 right-0 bottom-0 bg-green-100 h-12 py-2 px-1">
  <div class="max-w-5xl mx-auto px-2 flex items-center">
    <img
      alt="Cardano Logo"
      class="w-8 h-8 mr-2"
      src="{% static 'images/cardano-ada-logo.svg' %}"
    >

    <dl class="text-sm flex">
      <dt class="font-semibold mr-1">Epoch:</dt>
      <dd id="tip-epoch">---</dd>
      <dt class="font-semibold mr-1 ml-4">Block:</dt>
      <dd id="tip-block">---</dd>
      <dt class="font-semibold mr-1 ml-4">Slot:</dt>
      <dd id="tip-slot">---</dd>
    </dl>
  </div>
</footer>

{% block body_scripts %}
  <script type="text/javascript">
    var queryTipUrl = "{% url 'query.tip' %}";
  </script>

  <script src="{% static 'js/base.js' %}"></script>
{% endblock body_scripts %}

</body>
</html>